
<% include ./partials/header %>


    <div id="labels_box">
      <div id="labels">

      </div>
    </div>

    <div id="about_box">

      <br>
      <h2>About</h2>
      <br>

      <p>
      Memory Lane was created to store memories and the locations they were experienced in. Enjoy! :)
      </p>

    </div>


<% include ./partials/footer %>
