
<% include ./partials/header %>


    <div id="labels_box">
      <div id="labels">

      </div>
    </div>

      <div id="about_box">

        <br>
          <h2>About</h2>
        <br>

        <p>
          Memory Lane was created to store memories and the locations they were experienced in. Enjoy! :)
        </p>

        <p>
          Contributors (last name alphabetical):
          <br>
          Kyle Hess
          <br>
          Kyle Wong
          <br>
          Haoyu Yun
          <br>
          Jennie Zheng
          <br>
        </p>

        <p>
          Feel free to fork <a href="https://github.com/calyun/MemoryLane" target="_blank"><u>our GitHub repo</u></a> and play around our code!
        </p>

      </div>


    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js'></script>
    <script  src="js/index.js"></script>

    <!--- Built in to client by socket.io -->
    <script src="/socket.io/socket.io.js"></script>
    <!--- client code -->
    <script src="/javascripts/client.js"></script>

  </body>
</html>