
<% include ./partials/header %>

    <div id="labels_box">
      <div id="labels">

      </div>
    </div>

    <div id="help_box">

      <br>
      <h2>Help</h2>
      <br>

      <p>
      Welcome to MemoryLane!

      Here is a walkthrough to the <strong>Memories</strong> system.

      First, you must be logged in to save and access your Memories.

      You can take pictures on the <strong>Camera</strong> tab to initialize a Memory. Write a little something about that Memory! Photo, memory, and location are combined to form a Memory in our database.

      You can view these records on the Logs screen, where there is a scrollable map displaying the different locations.
      </p>

    </div>

<% include ./partials/footer %>
