
<% include ./partials/header %>

    <div id="labels_box">
      <div id="labels">

      </div>
    </div>

    <div id="help_box">

      <br>
      <h2>Help</h2>
      <br>

      <p>
      Take pictures on the camera tab and then view them on the images tab.
      </p>

    </div>

<% include ./partials/footer %>
