
<% include ./partials/header %>

    <div id="labels_box">
      <div id="labels">

      </div>
    </div>

    <div id="video_box">

        <video id="video" autoplay="autoplay" width="640" height="480" autoplay>Video stream not available on your browser. Try an updated version of chrome or firefox.</video><br>
        <button id="snap">Snap Photo</button>
        <canvas id="canvas" width="640" height="480"></canvas>

        <p id="location"></p>

    </div>

    <!--- Built in to client by socket.io -->
    <script src="/socket.io/socket.io.js"></script>
    <!--- client code -->
    <script src="/javascripts/client.js"></script>

<% include ./partials/footer %>
