
<% include ./partials/header %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <div id="labels_box">
      <div id="labels">

      </div>
    </div>
    <div id="video_box">

       <video id="video" autoplay="autoplay"  width='640px' height='480px' style='width:60vw;' autoplay>Video stream not available on your browser. Try an updated version of chrome or firefox.</video><br>
 <button id="snap">Snap Photo</button>
    </div>

     <div id='picture_wrapper' style='display:none;'>

   <canvas id="canvas" width='640px' height='480px' style='width:60vw;'></canvas>
      <div style='display:block;'>

  <div style='width:70%;margin:auto;padding-top:4px;' class="input-group input-group-lg">
  <span class="input-group-addon" id="sizing-addon1">Title</span>
  <input  id='image_title_input' type="text" class="form-control" placeholder="What are you doing?" aria-describedby="sizing-addon1">
</div>

</div>
        <button id='save_img_button' class="btn btn-success" style="margin:10px;" >
 <i  style='padding-right:4px;'class="fa fa-check"></i>Save</button>
   <button id='delete_img_button' class="btn btn-info" >
 <i  style='padding-right:4px;'class="fa fa-trash-o"></i>Delete</button>
  </div>

   </div>

   <% var myuser= 'Anonymous' %>
   <% if (currentUser)  {myuser= currentUser.local.username} %>

     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
     <script>

    $("#delete_img_button").on('click',function(){
        $("#picture_wrapper").css({'display':'none'})
        $("#video_box").css({'display':'block'})
    })


     </script>


    <!--- Built in to client by socket.io -->
    <script src="/socket.io/socket.io.js"></script>
    <!--- client code -->
    <script>
    var video, canvas, context, labels, socket, imageSocket, name, loc, my_username;

window.onload = function(){
    var target='http://localhost:3000'
    my_username= <%- JSON.stringify(myuser) %>;

    // Grab elements, create settings, etc.
    socket = io.connect(target);
    video = document.getElementById('video');
    canvas = document.getElementById('canvas');
    context = canvas.getContext('2d');
    labels = document.getElementsByTagName('label');
    let camera_works=access_video();

    if (!camera_works){
      alert("Video is not supported by this browser/device.");
     }
    if (!navigator.geolocation) {
        alert("Geolocation is not supported by this browser.");
    }


    imageSocket.on('done',function(url){
        alert("got it "+url);
    })
}

function access_video(){
  // Get access to camera
  if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
    //lower framerate
    navigator.mediaDevices.getUserMedia({ video: { facingMode: "environment", frameRate: { ideal: 10, max: 15 },
      width: 640, height: 480  } }).then(function(stream) {
          video.src = window.URL.createObjectURL(stream);
          video.play();
      });
      return true;
  }
  //no camera :(
  return false;
}


 $("#save_img_button").on('click',function(){
    function processPosition(position) {
        //let server know
        let pos_str= position.coords.latitude +
        " " + position.coords.longitude;
        let img_desc = $('#image_title_input').val()
        socket.emit('img',{ imgURL: canvas.toDataURL(), name: my_username, loc: pos_str, desc: img_desc} );
        $("#picture_wrapper").css({'display':'none'})
        $("#video_box").css({'display':'block'})

        imageSocket.emit('img',canvas.toDataURL())
    }
    navigator.geolocation.getCurrentPosition(processPosition);
})

   $("#snap").on('click',function(){
        context.drawImage(video, 0, 0, 640, 480);
        $("#picture_wrapper").css({'display':'block'})
        $("#video_box").css({'display':'none'})
    })

</script>

<% include ./partials/footer %>
