<% include ./partials/header %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

      <div id="logs_box">
        <br>
        <p>
      </div>

     </div>

<div class="container" style='width:70%;padding:0;'>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" style='background-color:#515c6d;' id="other_images" role="listbox">
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    < <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
    </div>
    </div>

<div id="map" style="width:70%;height:60vh; margin:auto;"></div>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
      <script src="javascripts/MarkerClusterer.js"> </script>
       <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJ3b4duXGP-7mSiQp-WG8DElJAE-bSs0M">  </script>
    <script>

    $("#close_img_button").on('click', function() {
       $("#my_img_wrapper").css({'display':'none'})
    });




    function getLocs(){
          var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: {lat: 37.873, lng: -122.258},
            styles: [
            {elementType: 'geometry', stylers: [{color: '#242f3e'}]},
            {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
            {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
            {
              featureType: 'administrative.locality',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'geometry',
              stylers: [{color: '#263c3f'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'labels.text.fill',
              stylers: [{color: '#6b9a76'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry',
              stylers: [{color: '#38414e'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry.stroke',
              stylers: [{color: '#212a37'}]
            },
            {
              featureType: 'road',
              elementType: 'labels.text.fill',
              stylers: [{color: '#9ca5b3'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry',
              stylers: [{color: '#746855'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry.stroke',
              stylers: [{color: '#1f2835'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'labels.text.fill',
              stylers: [{color: '#f3d19c'}]
            },
            {
              featureType: 'transit',
              elementType: 'geometry',
              stylers: [{color: '#2f3948'}]
            },
            {
              featureType: 'transit.station',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'water',
              elementType: 'geometry',
              stylers: [{color: '#17263c'}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.fill',
              stylers: [{color: '#515c6d'}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.stroke',
              stylers: [{color: '#17263c'}]
            }
          ]
       });

    var result= <%- JSON.stringify(result) %>;
    var locations = []
    var data = result.split('\n')


        data.splice(-1,1)
        for (var dat of data){
            var xy = dat.split(';')[1]
            xy=xy.split(' ')
            var x=Math.round(parseFloat(xy[0])*1000000)/1000000
            var y=Math.round(parseFloat(xy[1])*1000000)/1000000
            var newloc={lat:x, lng:y}
            locations.push(newloc)
        }

        var markers = locations.map(function(location, i) {
            var mark= new google.maps.Marker({
             position: location,
             label: data[i].split(';')[0][0],
              });
            mark.addListener('click', function() {
            var others=$("#other_images")
            imgHTML=`<div class='carousel-item active'>
              <div class="carousel-caption d-none d-md-block">
                <h3>`+data[i].split(';')[0][i]+ `</h3>
                <p>`+data[i].split(';')[2].substring(0,15) +' ~ '+data[i].split(';')[4][i]+ `</p>
              </div>
              <img class="d-block img-fluid" style='margin:auto;' src='pictures/`+data[i].split(';')[3]+ `'alt="failed to load">
            </div>`
            others.html(imgHTML)
            });
            return mark;
        });

       //(37.8705031, -122.2515105)

       var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'markers/m'});

       google.maps.event.addListener(markerCluster, 'clusterclick', function(cluster) {

        var markers = cluster.getMarkers();
        if(markers.length==0)
            return
         var picture_locs = new Set();
         var pictures = [];
         var pic_desc=[];
         var names = [];
         var dates = [];
          for (var i = 0, marker; marker = markers[i]; i++) {
            var xy=marker.getPosition()
            var pos='('+Math.round(xy.lat()*1000000)/1000000+', '+Math.round(xy.lng()*1000000)/1000000 +')'
            picture_locs.add(pos)
          }

           for (var i = 0; i < locations.length; i++) {
            var xy = locations[i];
            var xytransformed='('+xy.lat.toString()+', '+xy.lng.toString() +')'
            if(picture_locs.has(xytransformed)){
                dates.push(data[i].split(';')[2])
                names.push(data[i].split(';')[0])
                pictures.push(data[i].split(';')[3])
                pic_desc.push(data[i].split(';')[4])

            }
          }

          var others=$("#other_images")
          others.html("")
          for (var i = 0; i < pictures.length; i++) {
            var classes="carousel-item"
            if(i==0) classes="carousel-item active"
            imgHTML=`<div class='`+classes+ `'>
              <img class="d-block img-fluid" style='margin:auto;width:60%;' src='pictures/`+pictures[i]+ `'alt="failed to load">
              <div class="carousel-caption d-none d-md-block">
                <h3>`+names[i]+ `</h3>
                <p>`+dates[i].substring(0,15) +' ~ '+pic_desc[i]+ `</p>
              </div>
            </div>`
            others.html(others.html()+ imgHTML)
          }

      });

      }
      getLocs();
</script>


<% include ./partials/footer %>

