
<% include ./partials/header %>


    <div id="labels_box">
      <div id="labels">

      </div>
    </div>

      <div id="profile_box">

        <br>
        <h2>Profile</h2>
        <br>

        <p>
        Username:
        </p>
        <p>
        Joined:
        </p>
        <p>
        Locations:
        </p>

      </div>


    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js'></script>
    <script  src="js/index.js"></script>

    <!--- Built in to client by socket.io -->
    <script src="/socket.io/socket.io.js"></script>
    <!--- client code -->
    <script src="/javascripts/client.js"></script>

  </body>
</html>