
<% include ./partials/header %>

    <div id="labels_box">
        <div id="labels">

        </div>
    </div>

    <% if (!currentUser){ %>

        <div id="prelogin_box">
          <a href="/join" class="btn btn-lg btn-info">Create an Account</a>

          <br><br>

          <a href="/login" class="btn btn-lg btn-success">Log In</a>
        </div>

    <% } else { %>

    <div id="profile_box">

      <img src="images/generic-avatar.png" alt="generic_avatar" id="profile-image"/>

        <br>
        <h2>Profile</h2>
        <br>

        <p>
        Username: <%= currentUser.local.username %>
        </p>
        <p>
        First Name: <%= currentUser.info.first_name %>
        </p>
        <p>
        Last Name: <%= currentUser.info.last_name %>
        </p>
        <p>
        Joined: <%= currentUser.info.joined_date.toDateString().slice(4) %>
        </p>

    </div>

    <br>
    <a href="/logout" class="btn btn-lg btn-info">Log Out</a>

    <% } %>

<% include ./partials/footer %>
