
<% include ./partials/header %>

    <div id="labels_box">
      <div id="labels">

      </div>
    </div>

    <div id="profile_box">

      <img src="images/generic-avatar.png" alt="generic_avatar" id="profile-image"/>

      <p>
      Username:
      </p>
      <p>
      Joined:
      </p>
      <p>
      Locations:
      </p>

  </div>

<% include ./partials/footer %>
