
<% include ./partials/header %>

    <div id="labels_box">
        <div id="labels">

        </div>
    </div>

    <% if (!currentUser){ %>
        <br>
        <a href="/join" class="btn btn-lg btn-info">Create an Account</a>
    <% } else { %>

    <div id="profile_box">

        <!-- TODO: add circular image -->

        <br>
        <h2>Profile</h2>
        <br>

        <p>
        Username:
        </p>
        <p>
        Joined:
        </p>
        <p>
        Locations:
        </p>

    </div>

    <% } %>

<% include ./partials/footer %>
