
<% include ./partials/header %>

    <div id="labels_box">
        <div id="labels">

        </div>
    </div>

    <% if (!currentUser){ %>

        <div id="prelogin_box">
          <a href="/join" class="btn btn-lg btn-info">Create an Account</a>

          <br><br>

          <a href="/login" class="btn btn-lg btn-success">Log In</a>
        </div>

    <% } else { %>

    <div id="profile_box">

        <!-- TODO: add circular image -->

        <br>
        <h2>Profile</h2>
        <br>

        <p>
        Username:
        </p>
        <p>
        Joined:
        </p>
        <p>
        Locations:
        </p>

    </div>

    <br>
    <a href="/logout" class="btn btn-lg btn-info">Log Out</a>

    <% } %>

<% include ./partials/footer %>
