
<% include ./partials/header %>


    <div id="labels_box">
      <div id="labels">

      </div>
    </div>

    <div id="profile_box">

      <br>
      <h2>Profile</h2>
      <br>

      <p>
      Username:
      </p>
      <p>
      Joined:
      </p>
      <p>
      Locations:
      </p>

    </div>

<% include ./partials/footer %>
