body
  padding: 0
  margin: 0
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-color: black
  color: white
a
  color: #00B7FF
h1
  text-align: center
video
  display: block
  margin: 0 auto

#video_box
  justify-content: center

body
  text-align: center
#header_box
  padding: 1em

#snap
  margin: auto
  display: block
.mynavbar
  font-size: 2em
  padding-top: .2em
  padding-bottom: .2em
  border-top: 1px solid white
  border-bottom: 1px solid white
